@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'inter';
  src: url('/fonts/Inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inter-medium';
  src: url('/fonts/Inter-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'inter-bold';
  src: url('/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sora';
  src: url('../public/font/Sora-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}